.card__date {
    margin: 20px 24px 0 24px;
    font-family: Source Sans Pro, Helvetica, Calibri;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
}

@media (max-width: 1439px) and (min-width: 1200px) {
    .card__date {
        margin: 18px 20px 0 20px;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .card__date {
        margin: 16px 16px 0 16px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .card__date {
        margin: 16px 16px 0 16px;
    }
}