@import url(./__date/date.css);

.diagram__dates {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, Helvetica, Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #1A1B22;
    width: 104px;
    padding-left: 9px;
}