@import url(./__title/title.css);
@import url(./__text/text.css);


.toClient {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-top: 80px;
    padding-bottom: 96px;
    padding-right: 7.3%;
    padding-left: 7.3%;
}

@media (max-width: 1439px) and (min-width: 1200px) {
    .toClient{  
        padding-top: 50px;
        padding-right: 6.3%;
        padding-left: 6.3%; 
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .toClient {  
        padding-top: 30px;
        padding-right: 5.4%;
        padding-left: 5.4%; 
    }
}

@media (max-width: 649px) and (min-width: 320px) {
    .toClient {  
        padding-top: 16px;
        padding-left: 5.2%;
        padding-right: 5.2%; 
        padding-bottom: 32px;
    }
}