@import url(./__top-container/top-container.css);
@import url(./swiper.min.css);
.swiper {
  z-index: 100;
  background: #F5F6F7;
  padding-top: 72px;
  padding-bottom: 80px;
}

.swiper__blur {
  width: 606px;
  height: 406px;
  margin-top: -406px;
  margin-left: calc(100%-406px);
  background: linear-gradient(180deg, rgba(245, 246, 247, 0) 0%, #F5F6F7 100%);
  z-index: 2;
  transform: rotate(-90deg);
}

.swiper-slide {
  height: 264px;
  align-self: center;
  justify-self: center;
  padding-top: 24px;
  border-radius: 16px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition-property: transform;
}

.swiper-slide:hover {
  cursor: pointer;
}

.slide__date {
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #B6BCBF;
}

.slide__author {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
  margin-right: 24px;
}

.slide__name {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin-block-start: 0;
  margin-block-end: 2px;
}

.slide__email {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #1A1B22;
}

.slide__text {
  margin-left: 24px;
  margin-right: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
}

.slide__photo {
  margin-right: 16px;
  width: 64px;
  height: 64px;
}

.swiper-pagination {
  justify-self: center;
  position: relative;
  margin-top: 48px;
}
