.body {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    overflow-x: hidden;   
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; 
}

