.footer__copyright {   
    font-family: Roboto, Helvetica, Calibri;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    width: 20%;
}

.footer__copyright_api {
    font-size: 9px;
}

@media (max-width: 1439px) and (min-width: 1200px) {
    .footer__copyright {
        width: 20%;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .footer__copyright {
        width: 20%; 
    }
}

@media (max-width: 767px) and (min-width: 650px) {
    .footer__copyright {
        transform: scale(0.7);
        width: 30%;
    }
}

@media (max-width: 649px) and (min-width: 320px) {
    .footer__copyright {
        width: 100%;
    }
}
