@import url(./_aboutPage/aboutPage.css);
@import url(./_mainPage/mainPage.css);
@import url(./_analyticsPage/analyticsPage.css);

.header__about {
    font-family: Roboto, Helvetica, Calibri;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    padding-bottom: 1.59vw;
}

@media (max-width: 767px) and (min-width: 320px) {
    .header__about {   
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
}