.card__source {
    margin: auto 24px 24px 24px;
    justify-self: flex-end;
    font-family: Roboto Slab, Helvetica, Calibri;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}

@media (max-width: 1439px) and (min-width: 1200px) {
    .card__source {
        margin: auto 20px 24px 20px;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .card__source {
        margin: auto 16px 16px 16px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .card__source {
        margin: auto 16px 16px 16px;
    }
}