@import url(./__inner/inner.css);
@import url(./__text/text.css);

.preloader {
    background: #F5F6F7;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    display: none;
}