@import url(./__link/link.css);
@import url(./__copyright/copyright.css);
@import url(./__icon/icon.css);
@import url(./__icon/git/git.css);

.footer {
    padding-right: 7.3%;
    padding-left: 7.3%;
    height: 5.6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1439px) and (min-width: 1200px) {
    .footer {
        height: 7vw;
        padding-left: 6.3%;
        padding-right: 6.3%;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .footer {
        height: 8.3vw;
        padding-left: 5.5%;
        padding-right: 5.5%;
    }
}

@media (max-width: 767px) and (min-width: 650px) {
    .footer {
        padding-left: 5.2%;
        padding-right: 5.2%;
    }
}

@media (max-width: 649px) and (min-width: 320px) {
    .footer {
        flex-wrap: wrap-reverse;
        height: 220px;
        padding-left: 5.2%;
        padding-right: 5.2%;
        padding-bottom: 24px;
        padding-top: 40px;
    }
}