.results__button {
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    width: 288px;
    height: 64px;
    background: #FFF;
    border-radius: 80px;   
    border-style: none;

    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

.results__button:hover {
    cursor: pointer;
}