@import url(./__item/item.css);

.tech__container {
    width: 600px;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

@media (max-width: 1199px) and (min-width: 768px) {
    .tech__container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 649px) and (min-width: 320px) {
    .tech__container {
        flex-wrap: wrap;
        width: 100%;
    }
}